body {
    background: burlywood;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    max-height: 330px;
    margin: 0 auto;
}

.contenedor {
    width: 1200px;
    height: 50px;
    border: 3px solid hwb(11 2% 24%);
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
    margin-left: 5px;
    padding: 12px;
    box-shadow: 3px 3px 3px #fff;
}

.title {
    background: aqua;
}

.nav {
    background: blue;
}

.content {
    display: flex;
    height: 330px;
    background: blueviolet;
}

.left {
    background: chartreuse;
    height: 300px;
}

.right {
    background: cadetblue;
    height: 300px;
}

.footer {
    background: darkorange;
}