    body {
        /*background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 63%, 32%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 rgb(66, 66, 152);*/
        /*background-image: url("videoPhoto1.jpg");*/
        font-family: Helvetica;
        margin: 0;
    }
    
    header {
        width: 100%;
        height: 200px;
        background-color: midnightblue;
        display: flex;
        box-shadow: 0 0 0px 0px;
    }
    
    #logo1 {
        width: max(350px, 60vw);
        /*background-color: #0a0a23;*/
        aspect-ratio: 35 / 4;
        padding: 0.4rem;
        border-radius: 50px;
    }
    
    #logo2 {
        width: max(100px, 40vw);
        /* background-color: #0a0a23;*/
        aspect-ratio: 35 / 4;
        padding: 0.4rem;
        border-radius: 50px;
    }
    
    fondo1 {
        width: max(350px, 60vw);
        /*background-color: #0a0a23;*/
        aspect-ratio: 35 / 4;
        padding: 0.4rem;
    }
    
    ul {
        display: flex;
        justify-content: space-evenly;
        background-color: black;
        font-size: 2vw;
        margin-top: 0%;
    }
    
    nav {
        font-size: 20px;
        margin-bottom: 0;
        padding-bottom: 0%;
        /*background-color: midnightblue;*/
        color: black;
    }
    
    a {
        color: aliceblue;
    }
    
    h1,
    h2 {
        font-family: Verdana, Tahoma;
    }
    
    h2 {
        border-bottom: 4px solid blue;
        margin-top: 0px;
        padding-top: 60px;
    }
    
    .info {
        padding: 10px 0 0 5px;
    }
    
    .formrow {
        margin-top: 30px;
        padding: 0px 15px;
    }
    
    input {
        font-size: 16px;
    }
    
    .info label,
    .info input,
    .info select {
        display: inline-block;
    }
    
    .info input {
        width: 50%;
        text-align: left;
    }
    
    .info label {
        width: 10%;
        min-width: 55px;
        text-align: right;
    }
    
    .info select {
        width: 30%;
        /* min-width: 55px; */
        margin-left: auto;
        text-align: left;
    }
    
    .question-block {
        text-align: left;
        display: block;
        width: 100%;
        margin-top: 20px;
        padding-top: 5px;
    }
    
    .answers-list {
        list-style: none;
        padding: 0;
    }
    
    section {
        width: 80%;
        margin: 0 auto 10px auto;
        max-width: 600px;
    }
    
    button {
        display: block;
        margin: 40px auto;
        width: 20%;
        padding: 15px;
        font-size: 20px;
        background: #d0d0d5;
        border: 3px solid #3b3b4f;
        border-radius: 25%;
    }
    
    .conav {
        overflow: hidden;
    }
    
    nav {
        animation-name: fadeInOut, moveLeft300px, bounce;
        animation-duration: 25s, 35s, 15s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        /*the previous script you can replace it with
        animation: 335 infinite alternate slidein;*/
    }
    
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%
        }
        75% {
            font-size: 100%;
            margin-left: 15%;
            width: 100%;
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
    /*
.frame1 {
    border: 5px solid black;
    width: 1000px;
    padding: 5px;
    margin: 0px auto;
}

.frame2 {
    border: 3px solid yellow;
    width: 500px;
    height: 100px;
    padding: 50px;
    margin: 20px auto;
}

nav {
    margin-top: 0%;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: white
}

table,
th,
td {
    border: -5px;
    margin-bottom: 0%;
    padding-bottom: 0px;
    box-shadow: 0 0 0px 0px;
}

img {
    border-radius: 15px;
    margin-top: -2px;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}*/